Week2/Framework/SDLFramework/.vs/SDLFramework/v14/.suo
Week2/Framework/SDLFramework/Debug/SDLFramework.exe
Week2/Framework/SDLFramework/Debug/SDLFramework.ilk
Week2/Framework/SDLFramework/Debug/SDLFramework.pdb
Week2/Framework/SDLFramework/SDLFramework.opensdf
Week2/Framework/SDLFramework/SDLFramework.sdf
*obj
*.log
*.tlog
Week2/Framework/SDLFramework/SDLFramework/Debug/SDLFramework.tlog/SDLFramework.lastbuildstate
Week2/Framework/SDLFramework/SDLFramework/Debug/vc140.idb
Week2/Framework/SDLFramework/SDLFramework/Debug/vc140.pdb
